<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <img src="../../../assets/Logos/Logo_02.png" class="logo-panel">
                        <h3 class="pt-3 font-weight-bold">SysBiblioteca Login</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Usuario'].dirty && loginForm.hasError('required', 'Usuario')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="Usuario" type="text" placeholder="Usuario">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['Usuario'].dirty && loginForm.hasError('required', 'Usuario')" class="text-danger">*Nombre de Usuario requerido</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Contrasenia'].dirty && loginForm.hasError('required', 'Contrasenia')">
                                    <span class="fa fa-lock p-2"></span> 
                                    <input formControlName="Contrasenia" [type]="type" placeholder="Contraseña">
                                    <span class="{{icon_class}}" (click)="hideShowPassword()"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['Contrasenia'].dirty && loginForm.hasError('required', 'Contrasenia')" class="text-danger">*Contraseña requerida</small>

                            <div class="form-inline fr mt-4 text-center">
                                <a id="forget" class="font-weight-bold">¿Problemas para iniciar sesión?</a>
                            </div>
                            <div class="grid text-center">
                                <div class="g-col-4">
                                    <button type="submit" class="btn btn-primary btn-block mt-4 w-50" (click)="onLogin()">Ingresar</button>
                                    <div class="text-center pt-4 text-muted">¿Aún no tienes una cuenta? <a id="registrarse" class="font-weight-bold" routerLink="/sign-up">¡Registrate aquí!</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>