USE [master]
GO
/****** Object:  Database [SysBiblioteca]    Script Date: 19/11/2024 21:17:50 ******/
CREATE DATABASE [SysBiblioteca]
GO
USE [SysBiblioteca]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[IdAutor] [bigint] IDENTITY(1,1) NOT NULL,
	[Autor] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoresLibros]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoresLibros](
	[IdAutorLibro] [bigint] IDENTITY(1,1) NOT NULL,
	[IdLibro] [bigint] NOT NULL,
	[IdAutor] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutorLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Cargo] [varchar](max) NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosPersonales]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosPersonales](
	[IdDatosPersonales] [bigint] IDENTITY(1,1) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[Nombres] [varchar](max) NOT NULL,
	[Apellidos] [varchar](max) NOT NULL,
	[DUI] [varchar](max) NOT NULL,
	[Correo] [varchar](max) NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[Telefono] [varchar](max) NOT NULL,
	[FechaNacimiento] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDatosPersonales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editoriales]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editoriales](
	[IdEditorial] [bigint] IDENTITY(1,1) NOT NULL,
	[Editorial] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ejemplares]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ejemplares](
	[IdEjemplar] [bigint] IDENTITY(1,1) NOT NULL,
	[IdLibro] [bigint] NOT NULL,
	[CodigoEjemplar] [varchar](max) NOT NULL,
	[Estado] [bit] NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEjemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadosMultas]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosMultas](
	[IdEstadoMulta] [int] IDENTITY(1,1) NOT NULL,
	[EstadoMulta] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoMulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estanterias]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estanterias](
	[IdEstanteria] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSeccion] [bigint] NOT NULL,
	[Estanteria] [int] NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstanteria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Genero] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenerosLibros]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenerosLibros](
	[IdGeneroLibro] [bigint] IDENTITY(1,1) NOT NULL,
	[IdLibro] [bigint] NOT NULL,
	[IdGenero] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGeneroLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenerosLiterarios]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenerosLiterarios](
	[IdGenero] [bigint] IDENTITY(1,1) NOT NULL,
	[Genero] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[IdEditorial] [bigint] NOT NULL,
	[FotoLibro] [nvarchar](max) NOT NULL,
	[Libro] [varchar](max) NOT NULL,
	[Version] [varchar](max) NULL,
	[ISBN] [varchar](max) NOT NULL,
	[AnioPublicacion] [int] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Link_Rol_Menu]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link_Rol_Menu](
	[IdLinkRolMenu] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdMenu] [bigint] NOT NULL,
	[Create] [bit] NOT NULL,
	[Read] [bit] NOT NULL,
	[Update] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLinkRolMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[IdMenu] [bigint] IDENTITY(1,1) NOT NULL,
	[IdParent] [bigint] NULL,
	[IdSubParent] [bigint] NULL,
	[Nombre] [varchar](max) NULL,
	[Url] [varchar](max) NULL,
	[Icono] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multas](
	[IdMulta] [bigint] IDENTITY(1,1) NOT NULL,
	[IdPrestamo] [bigint] NOT NULL,
	[IdEstadoMulta] [int] NOT NULL,
	[DiasRetraso] [int] NOT NULL,
	[Monto] [decimal](10, 2) NULL,
	[IdUsuarioValidacion] [bigint] NULL,
	[ComprobantePago] [nvarchar](max) NULL,
	[PagoFisico] [bit] NULL,
	[FechaValidacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Niveles]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Niveles](
	[IdNivel] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEstanteria] [bigint] NOT NULL,
	[Nivel] [int] NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamos]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[IdPrestamo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [bigint] NOT NULL,
	[IdEjemplar] [bigint] NOT NULL,
	[DiasPrestamo] [int] NOT NULL,
	[FechaPrestamo] [datetime] NULL,
	[Entregado] [bit] NOT NULL,
	[IdUsuarioEntrego] [bigint] NULL,
	[FechaDevolucion] [datetime] NULL,
	[Finalizado] [bit] NOT NULL,
	[IdUsuarioRecibio] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[IdEstado] [int] NOT NULL,
	[Rol] [varchar](max) NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secciones]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secciones](
	[IdSeccion] [bigint] IDENTITY(1,1) NOT NULL,
	[Seccion] [varchar](max) NOT NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[IdUbicacion] [bigint] IDENTITY(1,1) NOT NULL,
	[IdLibro] [bigint] NOT NULL,
	[IdNivel] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/11/2024 21:17:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdCargo] [int] NULL,
	[IdEstado] [int] NOT NULL,
	[IdDatosPersonales] [bigint] NOT NULL,
	[Usuario] [varchar](max) NOT NULL,
	[Contrasenia] [varchar](max) NOT NULL,
	[Token] [varchar](max) NULL,
	[UltimoAcceso] [datetime] NULL,
	[ConteoIntentos] [int] NULL,
	[UsuarioCreacion] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioModificacion] [varchar](max) NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ejemplares] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Link_Rol_Menu] ADD  DEFAULT ((0)) FOR [Create]
GO
ALTER TABLE [dbo].[Link_Rol_Menu] ADD  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[Link_Rol_Menu] ADD  DEFAULT ((0)) FOR [Update]
GO
ALTER TABLE [dbo].[Link_Rol_Menu] ADD  DEFAULT ((0)) FOR [Delete]
GO
ALTER TABLE [dbo].[Multas] ADD  DEFAULT ((0.00)) FOR [Monto]
GO
ALTER TABLE [dbo].[Multas] ADD  DEFAULT ((0)) FOR [PagoFisico]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [Entregado]
GO
ALTER TABLE [dbo].[Prestamos] ADD  DEFAULT ((0)) FOR [Finalizado]
GO
ALTER TABLE [dbo].[AutoresLibros]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autores] ([IdAutor])
GO
ALTER TABLE [dbo].[AutoresLibros]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[DatosPersonales]  WITH CHECK ADD FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Ejemplares]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Estanterias]  WITH CHECK ADD FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[GenerosLibros]  WITH CHECK ADD FOREIGN KEY([IdGenero])
REFERENCES [dbo].[GenerosLiterarios] ([IdGenero])
GO
ALTER TABLE [dbo].[GenerosLibros]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editoriales] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Link_Rol_Menu]  WITH CHECK ADD FOREIGN KEY([IdMenu])
REFERENCES [dbo].[Menus] ([IdMenu])
GO
ALTER TABLE [dbo].[Link_Rol_Menu]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([IdEstadoMulta])
REFERENCES [dbo].[EstadosMultas] ([IdEstadoMulta])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamos] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Multas]  WITH CHECK ADD FOREIGN KEY([IdUsuarioValidacion])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Niveles]  WITH CHECK ADD FOREIGN KEY([IdEstanteria])
REFERENCES [dbo].[Estanterias] ([IdEstanteria])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([IdEjemplar])
REFERENCES [dbo].[Ejemplares] ([IdEjemplar])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([IdUsuarioEntrego])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD FOREIGN KEY([IdUsuarioRecibio])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Ubicaciones]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Ubicaciones]  WITH CHECK ADD FOREIGN KEY([IdNivel])
REFERENCES [dbo].[Niveles] ([IdNivel])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargos] ([IdCargo])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdDatosPersonales])
REFERENCES [dbo].[DatosPersonales] ([IdDatosPersonales])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estados] ([IdEstado])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
USE [master]
GO
