<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">
            <img src="../../../assets/Logos/Logo_02.png" width="30" height="30" class="d-inline-block align-top" alt=""> SysBiblioteca
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab1" aria-current="page" data-bs-toggle="tab">test1</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        secc 6
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#tab6" data-bs-toggle="tab">Panel 6</a>
                        <a class="dropdown-item" href="#tab7" data-bs-toggle="tab">Panel 7</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logOut()" aria-current="page" data-bs-toggle="tab">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>