body {
    background: linear-gradient(to bottom, #bfd6e5, #bfd6e5);
    min-height: 100vh;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.logo {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out;
}